* {
    margin: 0;
    padding: 0;
}

header a {
    margin-top: 8vh;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    color: black;
    padding-left: 0.6vw;
    padding-right: 0.6vw;
    border: 0.2vw solid black;
    border-radius: 1vw;    
}

header{
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
}

#mattePic, #fysikPic{
    margin-top: 0vw;
}

body,html {
    display: grid;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1fr auto;
}

main {
    margin-top: -3rem;
}

p {
    font-family: 'Fira Code', monospace;
    font-size: 1.3vw;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 4.5vw;
    text-align: center;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 3vw;
}

h4 {
    font-size: 1.5vw;
}

footer {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1vw;
    text-align: center;   
}

.switch {
    display: flex;
    justify-content: end;
    float: right;
    margin-top: 1rem;
}

.slider {
    position: relative;
    cursor: pointer;
    top: 0;
    left: 1;
    width: 3.8rem;
    height: 2rem;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }ppp

  input {
      display: none;
  }
  
  input:checked + .slider {
    background-color: #7f54b6;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #8b36d1;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.mainpics {
    display:flex; 
    justify-content: space-around;
}

.rubrik {
    display:flex;
    gap: 2vw;
    justify-content:center;
    padding-bottom: 3vh;
}

#check {
    display: none;
}

.ämne {
    display:flex;
    flex-direction: column;
    text-align: center;
    border: 0.1vw solid black;
    border-radius: 1vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    margin-bottom: 1vw;
}

.kurs {
    font-family: 'Roboto', sans-serif;
        background-color: rgb(241, 245, 253);
        margin: auto;
        margin-bottom: 1rem;
        padding: 0.3rem;
        width: 15vw;
        border-radius: 1vw;
        color:black;
        font-size: 1.7vw;
        text-decoration: none;
}

.kurs:hover {
    transition-duration: 200ms;
    background-color: aliceblue;

}

.kurser {
    display:flex;
    flex-direction: column;
    justify-content:center;
}


.outline{
    display:flex;
    flex-direction: column;
    justify-content: center;
    border: 0.2vw solid black;
    border-radius: 1vw;
    margin-top: 5vw;
    padding: 5vw;
}

button {
    float: right;
    cursor:pointer;
    background-color: white;
    border: 0.1vw solid rgba(0, 0, 0, 0.151);
    border-radius: 0.3vw;
    margin: 1rem;
    width: 4rem;
    height: 2rem;
}

#dark {
    background-color: rgb(51, 30, 47);
    color: #FFF;
    font-weight: 700;
}

#light {
    font-weight: 700;
    background-color: rgb(255, 255, 255);
}

#dark:hover, #light:hover {
    background-color: rgb(52, 81, 87);
    transition-duration: 200ms;
}

#light:hover {
    background-color: rgb(52, 81, 87);
    transition-duration: 200ms;
}

button:hover {
    cursor: pointer;
}

.faq {
    display: flex;
    width: 1vw;
    flex-direction: column;
    padding: 1.3vw;
    border-radius: 1vw;
    margin-top: 1vw;
    justify-content: space-between;
}

@media (min-width: 1200px) {
    * {
        padding: 0;
        margin: 0;
    }
    body, html {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1fr auto;
    }
    h1{
        padding: 1vw;
        font-size: 2vw;
    }
    header a {
        margin-top: 8vh;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 4vw;
        color: black;
        padding-left: 0.6vw;
        padding-right: 0.6vw;
        border: 0.2vw solid black;
        border-radius: 1vw;
        
    }
    
    header{
	display: flex;
	justify-content: center;
	margin-bottom: 0vw;
    }
    
    p {
        font-family: 'Fira Code', monospace;
        font-size: 1.3vw;
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Roboto', sans-serif;
    }
    
    h2 {
        font-size:2vw;
    }
    
    h3 {
        font-size: 2.3vw;
    }
    
    h4 {
        margin-top: 1.2rem;
        font-size: 1.5vw;
    }

    footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1vw;
    }
    
    footer p {
        font-size: 1rem;

    }

    .kurs-pic-matte {
        margin-bottom: 1vw;
    }
    .kurs-pic-fysik {
        margin-bottom: 1vw;
    }
    
    .mainpics {
        display:flex; 
        justify-content: space-around;
    }
    
    .rubrik {
        width: 30rem;
        display:flex;
        gap: 2vw;
        justify-content:center;
        padding-bottom: 4vh;
    }
    
    .tabell {
        display:flex;
        flex-direction: row;
    }
    
    .ämne {
        width: 35vw;
        display:flex;
        margin-left: 1vw;
        margin-right: 1vw;
        flex-direction: column;
        text-align: center;
	border: 0.1vw solid black;
        border-radius: 1vw;
        padding-top: 5vw;
        padding-bottom: 5vw;
	margin-top: 10vw;
        margin-bottom: 0rem;
    }
    
    .kurs {
        font-family: 'Roboto', sans-serif;
        background-color: rgb(241, 245, 253);
        margin: 0.6rem;
        padding: 0.3rem;
        width: 15vw;
	text-align: center;
        border-radius: 1vw;
        color:black;
        font-size: 1.7vw;
        text-decoration: none;
    }

    .kurs:hover {
        transition-duration: 200ms;
        background-color: aliceblue;
    }
    
    .kurser {
        height: 24rem;
        display:flex;
        flex-direction: column;
        justify-content:start;
        align-items: center;
    }
    
    
    .outline{
        display:flex;
        flex-direction: column;
        justify-content:center;
        border: 0.2vw solid black;
        border-radius: 1vw;
        padding: 2vw;
    }
    

    .faq {
        display: flex;
        margin: auto;
        width: 70vw;
        flex-direction: column;
        padding: 2rem;
        border-radius: 1vw;
        margin-top: 1rem;
        justify-content: space-between;
    }

}
