body{
    padding-right: 10vw;
    padding-left: 10vw;
}

header a {
    margin-top: 30px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
    
}


header{
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 4vw;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size:3vw;
    font-family: 'Roboto', sans-serif;
    padding-left: 1.5vw;
}

h3 {
    font-size: 2.3vw;
    font-family: 'Roboto', sans-serif;
}

h4 {
    padding-left: 20px;
    font-size: 3vw;
    font-family: 'Roboto', sans-serif;    
}


p, a {
    font-size: 3vw; 
    font-family: 'Roboto', sans-serif;   
}

a {
    font-style: italic;
    color: black;
}

.smalltext {
    font-size: 2vw;
    font-family: 'Fira Code', monospace;
}

.helper {
    height: 4vw;
    width: 4vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.helper:hover{
    background-color: gray;
}

.helper.toggle{
    background-color: gray;
}

/* .latex{ */

/* } */

#temp{
    width: 100%;
    display: flex;
    justify-content: center;

}

.tempinput{
    width: 100%;
    font-size: 2vw;
}

.tempbutton{
    width: 16vw;
    height: 6vw;
    font-size: 2vw;
}

.formula{
    border: 0.1vw solid black;
    padding: 5vw;
    border-radius: 1vw;
    margin-bottom: 10vw;
    margin-right: 5vw;
    margin-left: 5vw; 
}

.varcontainer{
    display: flex;
    justify-content: space-around; 
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 1.7vw;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 1.7vw;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 1.7vw;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 1.7vw;
}

footer {
    padding-top: 100px;
    text-align:center;
    
}
footer p {
    font-family: 'Fira Code', monospace;
    font-size: 1.3vw;
}
