:root {
    --button-color: ;
    --button-border: ;
    --button-text: ;
}

body{
    padding-right: 15vw;
    padding-left: 15vw;
    scrollbar-width: thin;
    scrollbar-color: black white;
}


header a {
    margin-top: 30px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    border: 0.1vw solid black;
    border-radius: 1vw;
    font-style: normal;
}

header{
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 4vw;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

h2 {
    font-size:3vw;
    font-family: 'Roboto', sans-serif;
    padding-left: 1.5vw;
}

h3 {
    font-size: 2.3vw;
    font-family: 'Roboto', sans-serif;
}

h4 {
    padding-left: 20px;
    font-size: 3vw;
    font-family: 'Roboto', sans-serif;    
}

.collapsible:hover, header a:hover{
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}

.section {
    border: 0.2vw solid black;
    border-radius: 1vw;
    margin-bottom: 6vh;
}

.content {
    display: block;
    padding-left: 5vw;
    padding-right: 5vw;
}


p{
    font-size: 5vw; 
    font-family: 'Roboto', sans-serif;   
}

a {
    font-style: italic;
    color: black;
    font-size:3.4vw;
}




.explanation {
    font-size:3.4vw;
}




.smalltext {
    font-size: 2vw;
    font-family: 'Fira Code', monospace;
}

.helper {
    height: 8vw;
    width: 8vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
}

.helper:hover{
    outline: 0.1vw solid var(--color);
    cursor: pointer;
}

.helper.toggle{
    outline: 0.1vw solid var(--color);
}


#temp{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

.tempinput{
    width: 100%;
    font-size: 2vw;
    border: 0.1vw solid var(--button-border);
    color: var(--button-text);
    background-color: var(--button-color);
    border-radius: 1vw;
    padding-left: 2vw;
    outline:none;
    margin-right: 1vw;
}

.tempinput:focus {
    outline: 0.3vw solid var(--button-border);    
}

.tempbutton{
    width: 16vw;
    height: 6vw;
    font-size: 2vw;
}

.tempbutton {
    cursor:pointer;
    color: var(--button-text);
    background-color: var(--button-color);
    border: 0.1vw solid var(--button-border);
    border-radius: 1vw;

}

.formula{
    border: 0.1vw solid black;
    padding: 5vw;
    border-radius: 1vw;
    margin-bottom: 6vw;
    margin-top: 4vw;
    /* margin-right: 5vw; */
    /* margin-left: 5vw; */
    background-clip: content-box;
}


.varcontainer{
    display: flex;
    justify-content: space-around;
}

#result {
    color: var(--button-text);
}

.active {
    display: none;
}

/* .collapsible:after { */
/*     content: '\02795'; /\* Unicode character for "plus" sign (+) *\/ */
/*     font-family: 'Roboto', sans-serif;   	 */
/*     font-size: 3vw; */
/*     color: black; */
/*     float: right; */
/*     padding-right: 1vw; */
/* } */

/* .active:after { */
/*   content: "\2796"; /\* Unicode character for "minus" sign (-) *\/ */
/* } */
 



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 1.7vw;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 1.7vw;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 1.7vw;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 1.7vw;
}

footer {
    padding-top: 100px;
    text-align:center;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

footer p {
    font-family: 'Fira Code', monospace;
    font-size: 1.3vw;
}

.darkmode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.switch {
    display: flex;
    justify-content: end;
    float: right;
}

.slider {
    position: relative;
    cursor: pointer;
    top: 0;
    left: 1;
    width: 3.8rem;
    height: 2rem;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  #check {
      display: none;
  }
  
  input:checked + .slider {
    background-color: #7f54b6;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #8b36d1;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
